* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #292828;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
}



.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
}


.search-box {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

input#cityInput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

button#searchBtn {
    padding: 6px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    transition: 100ms ease-in-out;
    cursor: pointer;
}
/* 
button#searchBtn:active {
    transform: scale(.9);
} */

svg.cloud-icon {
    width: 150px;
    height: 150px;
}

svg {
    width: 24px;
    height: 24px;
    fill: #fefefe;
}

#searchBtn svg {
    height: 20px;
}

.weather-card {
    position: absolute;
    justify-self: center;
    padding: 3vh;
    text-align: center;
    width: 100%;
    height: 100%;
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
    overflow: hidden;
    margin: auto;
}

.extra-info {
    width: 100%;
    display: flex;
    margin: 5vh 5px 5px;
    justify-content: space-between;
    /* text-emphasis-style: dot open; */
    gap: 33px;
}

h2#location {
    margin: 1vh;
}

h1#temperature {
    margin: 1vh;
}
.air-quality {
    padding: 10px;
}
.info-item {
    display: inline-grid;
    padding: 10px;
    background: #474746;
    border-radius: 5px;
    align-content: space-around;
    place-items: center;
    text-align: center;
}

@media (min-width: 450px) {
    .container {
        width: 320px;
        height: 600px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        background: #363434;
        padding: 10px;
        border-radius: 10px;
    }
}

p {
    margin: 5px;
}